.DS_Store
/app/config/parameters.yml
/.cache/*
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/node_modules/
.idea/
/pdf/
!/app/Resources/views/pdf/*
/web/img/photos
*~
